<div id="footer">

    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="item text-center">
                    <h1>LOCATION</h1>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-center">
                    <h1>AROUND THE WEB</h1>
                    <div class="d-flex justify-content-center">
                        <div class="rounded-circle border border-1 mx-2 border-white d-flex justify-content-center align-items-center"
                            style="width: 35px; height: 35px;"><i class="fa-brands fa-facebook"></i></div>
                        <div class="rounded-circle border border-1 mx-2 border-white d-flex justify-content-center align-items-center"
                            style="width: 35px; height: 35px;"><i class="fa-brands fa-twitter"></i></div>
                        <div class="rounded-circle border border-1 mx-2 border-white d-flex justify-content-center align-items-center"
                            style="width: 35px; height: 35px;"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="rounded-circle border border-1 mx-2 border-white d-flex justify-content-center align-items-center"
                            style="width: 35px; height: 35px;"><i class="fa-brands fa-facebook"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-center">
                    <h1>ABOUT FREELANCER</h1>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>

    </div>
    <div class="py-4 text-center" style="background-color: #1A252F;">
        <p class="p-0 m-0">Copyright © Your Website 2021</p>
    </div>
</div>