<div id="about" class="text-center py-5 text-white">
    <div class="w-75 m-auto py-5 my-5">
        <h1 class="fw-bolder">ABOUT COMPONENT</h1>
        <div class="d-flex justify-content-center">
            <div class="bg-white mt-2 mx-2" style="width: 80px; height: 5px;"></div>
            <div class="mb-0 pb-0 mx-2">

                <i class=" fa-solid fa-star"></i>
            </div>
            <div class="bg-white mt-2 mx-2" style="width: 80px; height: 5px;"></div>

        </div>
        <div class="row gx-5">
            <div class="text-start col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="text-start col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</div>