<nav class="navbar navbar-expand-lg ">
    <div class="container py-2">
      <a class="navbar-brand text-white" routerLink="home"><h1>START FRAMEWORK</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item m-2">
            <a class="nav-link fw-bolder" routerLinkActive="link-active" routerLink="about">ABOUT</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link fw-bolder " routerLinkActive="link-active" routerLink="protofolio">PROTOFOLIO</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link fw-bolder" routerLinkActive="link-active" routerLink="contact">CONTACT</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>