
.item-abs{
    opacity: 0;
    transition: opacity 0.5s;
}
.item-abs:hover{
    opacity: 0.8;
}
.bg-color-opacity{
    background-color: rgba(0, 0, 255, 0.301);
}
#demo{
    display: none;
}

#child-demo{
    background-image: url(../../assets/poert1.png);
    background-size: cover;
    background-position: center center;
    width: 30rem;
    height: 20rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
