<div id="protofolio py-5" style="color: #2C3E50;">
    <div class="pt-5">

        <h1 class="fw-bold text-center">PORTFOLIO COMPONENT</h1>
    </div>

    <div class="d-flex justify-content-center pb-3">
        <div class=" mt-2 mx-2" style="width: 80px; height: 5px; background-color: #2C3E50;"></div>
        <div class="mb-0 pb-0 mx-2">

            <i class=" fa-solid fa-star"></i>
        </div>
        <div class=" mt-2 mx-2" style="width: 80px; height: 5px;background-color: #2C3E50"></div>

    </div>
    <div class="container pb-5 ">
        <div class="row g-5">
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/poert1.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/port2.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/port3.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/poert1.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/port2.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="funProto($event)" class="item  position-relative">
                    <div class="item-abs position-absolute top-0 bottom-0 start-0 end-0    "
                        style="background-color: #1ABC9C;">
                        <div class="div-icon d-flex justify-content-center position-relative top-50  translate-middle-y">

                            <i class="icon-proto fa-solid fa-plus fa-4x text-white fw-bolder"></i>
                        </div>
                    </div>
                    <img src="assets/port3.png" (click)="protoFunction($event)" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>

<div (click)="closeModel($event)" id="demo" class="bg-color-opacity position-fixed top-0 bottom-0  start-0 end-0 ">
    <div id="child-demo" class="position-fixed  m-auto bg-img-protofolio ">
    </div>
</div>